* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050505;
  color: #00ff9c;
  font-family: monospace;
  overflow: hidden;
  height: 100vh;
}

.background-grid {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image:
    linear-gradient(rgba(0,255,156,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,156,0.05) 1px, transparent 1px);

  background-size: 40px 40px;

  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.terminal {
  width: 500px;

  border: 2px solid #00ff9c;

  background: rgba(0,0,0,0.95);

  box-shadow:
    0 0 20px #00ff9c,
    inset 0 0 20px #00ff9c;

  transition: 0.3s;
}

.terminal-header {
  padding: 10px;

  border-bottom: 1px solid #00ff9c;

  background: #081b14;

  font-size: 0.9rem;
}

.terminal-body {
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 4rem;

  margin-bottom: 20px;

  text-shadow: 0 0 10px #00ff9c;
}

.status {
  margin-bottom: 20px;
  opacity: 0.8;
}

.display {
  border: 2px solid #00ff9c;

  padding: 20px;

  margin-bottom: 20px;

  font-size: 2rem;
  letter-spacing: 10px;

  background: #02110c;
}

.keypad {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 10px;

  margin-bottom: 20px;
}

button {
  background: transparent;

  border: 2px solid #00ff9c;

  color: #00ff9c;

  padding: 20px;

  font-size: 1.2rem;

  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  background: #00ff9c;
  color: black;

  box-shadow: 0 0 10px #00ff9c;
}

.message {
  height: 20px;

  font-size: 0.9rem;

  opacity: 0.8;
}

.error {
  color: #ff3b3b;
}

.success {
  color: #00d9ff;
}

/* WRONG CODE STATE */

.denied {
  border-color: #ff3b3b;

  box-shadow:
    0 0 20px #ff3b3b,
    inset 0 0 20px #ff3b3b;
}

/* CORRECT CODE STATE */

.granted {
  border-color: #00d9ff;

  box-shadow:
    0 0 25px #00d9ff,
    inset 0 0 25px #00d9ff;
}